:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
  --darkgreen: #179c34;
  --green: #64be73;
  --pink: #fc998c;
  --red: #ff4d40;
  --logo-url: "../public/images/bangladesh-logo.png";
}

.navbar-style {
  background: var(--pink);
  background: linear-gradient(
    90deg,
    var(--darkgreen),
    var(--green),
    var(--pink),
    var(--red)
  );
}

.navbar-style.dropdown-menu {
  background: var(--green);
}

.content-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 1%;
  padding: 0.2%;
  border-radius: 15px;
}

.content-title-container {
  font-size: 1.7rem;
  padding: 1%;
  font-weight: 550;
  color: var(--darkgreen);
  text-align: center;
}

.content-subtitle {
    margin-top: 10px;
  text-align: center;
  color: var(--green);
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#status-btn{
    background-color: lightskyblue;
}


.card {
  text-align: center;
  height: 300px;
  width: 300px;
  margin: 2%;
}

.card-title {
  font-family: "Times New Roman", Times, serif;
  color: var(--darkgreen);
  font-weight: 900;
  font-size: 2rem;
}

.card .btn {
  background-color: var(--darkgreen);
}

.card .btn:hover {
  background-color: var(--green);
  border: solid;
}

.table-title {
  font-size: 1.4rem;
  padding: 1%;
  color: var(--darkgreen);
  text-align: center;
}

.approved{
    border-radius: 2px;
    background: lightgreen;
}

.rejected{
    border-radius: 2px;
    background:lightpink;
}

.pending{
    border-radius: 2px;
    background: lightskyblue;
}

#upload-doc{
    padding: 3% 1%;
}

.page-fill{
    height: 50px;
}

.page-fill-horizontal{
    width: 700px;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paymentselect{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
}

#submit-btn, #previous-btn{
    font-weight: 700;
}

.bulk-group{
  background-color: #fdfdc5;
}

.bulk-group2{
  background-color: rgb(255, 231, 217);
}